Django==1.7
django-admin-bootstrapped==2.0.5
djangoajax==2.2.12
django-braces==1.4.0
django-crispy-forms==1.4.0
django-endless-pagination==2.0
django-localeurl==2.0.1
django-registration-redux==1.1
django-tastypie==0.12.1
flake8==2.2.5
mccabe==0.2.1
pep8==1.5.7
pyflakes==0.8.1
six==1.8.0
pillow>=2.4.0