{% extends "registration/base.html" %}
{% block content %}

{% for post in object_list %}
<div class="mainContent">
<div class= "content">
<h3><a href="/shop/{{post.id}}">{{ post.title }}</a></h3>
<div class = "post_meta">
	добавлено {{ post.date }}
</div>

<div class="post_body">
<img src="{{ MEDIA_URL }}{{post.photo}}" />
 {{ post.body|safe|linebreaks }}
 <p>Цена: {{ post.priceOfProduct}} руб.</p>
<form action="/shop/add/" method="post"> {% csrf_token %}
	<input class = "btn" type="submit" name="sendButton" value="В корзину"></input>  
	<input id="article" type="hidden" name="article" value="{{post.id }}"></input> 
	<input id="userName" type="hidden" name="userName" value="{{request.user.username}}"></input>
</form>
</div>
</div>
</div>
{% endfor %}
{% endblock %}