{% extends "base.html" %}
{% block content %}

<h3><a href="/shop/{{post.id}}">{{ post.title }}</a></h3>
<div class = "mainContent">
		<div class = "content">

		На нашем сайте Вы можете сформировать заказ и отправить на e-mail, факс: 
		т/ф: (495) 506-63-00, 604-46-70, 545-78-01 
		admin@plat'e.ru 
		
		<p>В заказе укажите:</p>
		<ul>
			<li>Артикул</li>
			<li>Кол-во размерных рядов или, от… до… размера.</li> 
			<li>Цветовая гамма (если несколько цветов) </li>
			<li>Сумму</li>
			<li>Какой транспортной компанией Вам отправлять? </li>
			<li>Город. </li>
			<li>Ф.И.О. </li>
			<li>Номер телефона, по которому с Вами можно связаться. </li>
		</ul>
	
		<p>Минимальная партия от 15 000руб.</p>
		<p>Доставка до транспортной компании по городу бесплатно. </p>
		<p>Заказ формируется в течении 3-х рабочих дней. </p>

		Перечень документов:
		Для Юр. лиц: 
		<ul>
			<li>Копия свидетельства, ИНН. </li>
			<li>Устав для ООО. </li> 
			<li>Свидетельство ОГРН. </li>
			<li>Наличие открытого расчетного счета. </li>
			<li>Копия паспорта. </li>
		</ul>


		</div>
		</div>
		
{% endblock %}