{% extends "registration/base.html" %}
{% block content %}

<div class="mainContent">
<div class= "content">
<h3><a href="/shop/{{post.id}}">{{ post.title }} {{ post.articleNumber }} </a></h3>
<div class = "post_meta">
	добавлено {{ post.date }}
</div>
<img src="{{ MEDIA_URL }}{{post.photo}}" />
<div class = "post_body">
 <p class = "bold">{{ post.body|safe|linebreaks }} </p>
 {{ post.description|safe|linebreaks }}
  <p>Цена: {{ post.priceOfProduct}} руб.</p>
 
<form action="/shop/add/" method="post"> {% csrf_token %}
	<input class = "btn" type="submit" name="sendButton" value="В корзину"></input>  
	<input id="article" type="hidden" name="article" value="{{post.id }}"></input> 
	<input id="userName" type="hidden" name="userName" value="{{request.user.username}}"></input>
</form>
</div>
</div>
</div>
{% endblock %}