{% load i18n %}
{% load staticfiles %}
<!doctype html>
<html>
	<head>
		<title></title>
		<meta charset = "utf-8"/>
		<link rel = "stylesheet" href = "/static/css/styles.css"/>
		<meta name = "viewport content = " width-device-width, initial-scale = 0.1" />
	</head>
	<body class="body"> 
		<header class="mainHead">
			<img src="/static/img/logo.jpg" width="700" height="423"/>
			<nav>
				<ul>
					<li><a href="/shop">Магазин</a></li>
					{% if request.user.is_authenticated %} 
					<li><a href="/shop/add">Корзина</a></li>
					<li><a href="/accounts/logout">Выйти: {{ request.user.username }}</a></li>
					{% else %}
					<li><a href="/accounts/register">Регистрация</a></li>
					<li><a href="/accounts/login">Войти</a></li>
					{% endif %}
				</ul>
			</nav>
		</header>
		
		<aside class = "sideInfo">
			<article>
				{% if totalPrice > 0 %}
				<h3 class="centered">Корзина</h3>
				
					<p class=centered>Вы заказали на</p><p class="colored"> {{ totalPrice }}</p>
					<form class = "centered" action="/shop/accept/" method="post"> {% csrf_token %}
						<input class = "btnDel centered" type="submit" name="sendButton" value="Заказать"></input>  
						<input id="userName" type="hidden" name="userName" value="{{request.user.username}}"></input>
					</form>
				
				{% else %}
				<h3 class="centered">Достоверно</h3>
				<p class="centered"> 
					Курс Евро - 10540 рублей
					Курс Доллара - 931421 рублей
				</p>
				{% endif %}
			</article>
		</aside>
		
		<div class = "mainContent">
		{% block content %}
			
		{% endblock %}
		</div>
		
		<footer class="mainFooter">
			<p>
			Привет
			</p>
		</footer>
		
	</body>
</html>